ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
}

label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.badge {
  position: absolute;
  right: 10px;
  background-color: #FF9800;
}

h4 {
  color: #ff0069;
}
